.charts {
    width: fit-content;
    margin-right: 30px;

    .bar-chart {
        max-width: 100%;
        width: 835px;
        aspect-ratio: 2.60;
        padding-top: 80px;
        background-color: $color-004;
        position: relative;
        padding-left: 30px;
        h3 {
            position: absolute;
            left: 30px;
            top: 30px;
        }
    }
    .custom-tooltip__activity {
        background-color: $color-001;
        color: $color-003;
        font-family: $font-001;
        font-size: $font-xs;
        padding: 10px;
        p:first-of-type {
            margin-bottom: 10px;
        }
    }

    .grey-text {
        color: $color-005;
    }

    .line-chart {
        background-color: $color-001;
        width: fit-content;
        padding: 80px 0 20px;
        position: relative;
        border-radius: 10px;

        h3 {
            position: absolute;
            left: 30px;
            top: 30px;
            color: $color-003;
            font-size: $font-md;
            max-width: 60%;
            line-height: 24px;
        }
    }
    .custom-tooltip__length {
        background-color: $color-003;
        color: $color-002;
        font-size: $font-xs;
        font-weight: 500;
        padding: 10px;
    }
}