header {
    display: flex;
    align-items: center;
    background-color: $color-002;
    justify-content: space-between;
    z-index: 999;
    position: relative;

    .brand {
        margin: 10px 0 0 20px;
    }
}

nav {
    width: calc(100% - 200px);

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20%;

        a {
            color: $color-003;
            font-weight: bold;
            transition: color 0.6s ease-in-out;
            position: relative;
            z-index: 2;
            padding: 30px 0;

            &::before {
                content: '';
                width: 0;
                background-color: $color-003;
                position: absolute;
                height: 0;
                bottom: 0;
                left: -20px;
                z-index: -1;
                transition: height 0.2s ease-in-out, width 0.6s ease-in-out;
            }
            
            &:hover {
                color: $color-001;
                &::before {
                    height: 100%;
                    width: calc(100% + 40px);
                }
            }
        }
    }
}