// COLORS
$color-001: #FF0101;
$color-002: #020203;
$color-003: #FFFFFF;
$color-004: #FBFBFB;
$color-005: #74798C;
$color-006: #20253A;
$color-007: #282D30;
$color-008: #3CD340;

// FONTS
$font-001: 'Roboto', sans-serif;

// FONT-SIZES
$font-xxs: 7px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 15px;
$font-mdm: 16px;
$font-lg: 18px;
$font-lrg: 20px;
$font-xl: 24px;
$font-xlg: 26px;
$font-xxl: 48px;

// BREAKPOINTS
$breakpoint: '1400px'