// COLORS
$color-001: #FF0101;
$color-002: #020203;
$color-003: #FFFFFF;
$color-004: #FBFBFB;
$color-005: #74798C;

// FONTS
$font-001: 'Roboto', sans-serif;

// FONT-SIZES
$font-xs: 12px;
$font-sm: 14px;
$font-lg: 18px;
$font-lrg: 20px;
$font-xl: 24px;
$font-xxl: 48px;