body {
    font-family: $font-001;
    font-style: normal;
}

a {
    text-decoration: none;
}

.container {
    padding: 20px 20px 20px 130px;
    @media screen and (min-width: 1200px) {
        padding: 70px 90px 90px 225px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}