h1 {
    font-size: $font-xxl;
    font-weight: bold;
    span {
        color: $color-001;
    }
}

h2 {
    font-size: $font-lg;
    margin: 40px 0 80px;
}

h3 {
    font-weight: bold;
    font-size: $font-lrg;
}

h4 {
   font-size: $font-sm;
   color: $color-005;
   font-weight: bold;
   margin-top: 10px;
}

.charts h3 {
    font-size: $font-md;
    font-weight: 500;
    color: $color-006;
}